

/*modifier la première puce de chaque ul*/
/*remplacer le lorem upsum par de vrais descriptions quand c'est possible*/
/*à la fin, régler les tailles max selon les tailles d'écrans*/
/*Une fois le projet fini, épurer le code, supprimer le CSS inutile 
    et supprimer les classes/id inutiles*/



/********************************************************************/
/*******************************FONTS********************************/
/********************************************************************/

@font-face{
    font-family: "OpenSans";
    src: url(ressources/OpenSansRegular.ttf);
}

@font-face{
    font-family: "OpenSansLight";
    src: url(ressources/OpenSansLight.ttf);
}

/********************************************************************/
/******************************GENERAL*******************************/
/********************************************************************/

body{
    display: flex;
    justify-content: center;
    background-color: #E0E0E0;
}

.container{
    display:flex;
    border: black solid 1px;
    font-family: OpenSans;
    max-width: 1000px;
}

p{
    font-size: small;
}

section{
    margin-bottom: 10%;
}

/********************************************************************/
/****************************LEFT CONTENT****************************/
/********************************************************************/

.left{
    background-color: #b71c1c;
    width: 34%;
    position: relative;
}

.left p{
    margin-left: 15%;
    margin-right: 15%;
}

.photo{
    text-align: center;
    padding-top: 20px;
}

.moi{
    border-radius: 50%;
    width: 50%;
    border: solid #d32f2f 3px ; 
}

.left h2{
    background-color: #424242;
    text-align: center;
    color: #b71c1c;
}

.loisirs{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.pictogrammes{
    display: flex;
    justify-content: space-around;
    padding-left: 15%;
    padding-right: 15%;
}

.pictogrammes img{
    border-radius: 50%;
    border: solid 1px black;
    width: 48px;
}

a{
    text-decoration: underline black;
    color: black;
    font-style: italic;
}

/********************************************************************/
/****************************RIGHT CONTENT***************************/
/********************************************************************/

.right{
    width: 66%;
    background-color: white;
}

.right section{
    margin-left: 10%;
    margin-right: 10%;
}

.right p{
    margin-top: 0;
    margin-bottom: 7px;
}


/************************TITRE**************************************/

#nom{
    font-family: OpenSansLight;
}

#prenom{
    color: #b71c1c;
}

#prenom, #nom{
    font-size: 2em;
}

.titre h1{
    margin-bottom: 0;
}

.titre p{
    font-size: 1.5em;
}

#dev{
    border-bottom: solid 1px #b71c1c;
}

.titre{
    margin-top: 10%;
    margin-bottom: 10%;
}

/***********************************CONTENTS****************************/

.sousTitre{
    display: flex;
    align-items: center;
    border-bottom: solid 2px #b71c1c;
}

.sousTitre p{
    margin-right: 5%;
}

.right h2{
    margin-bottom: 7px;
    margin-top: 0;
}

ul{
    color:#b71c1c;
    margin-top: 35px;
}

li{
    margin-bottom: 5%;
}

.date{
    width: 34%;
}

.job{
    width: 66%;
}

h3{
    font-family: OpenSansLight;
    margin-bottom: 7px;
    margin-top: 0;
}

.contents{
    display: flex;
    justify-content: space-between;
    color: black;
}

h4{
    font-family: OpenSansLight;
    margin-bottom: 7px;
}

.formation, .experience, .recommandations{
    margin-bottom: 33px;
}