
/*perfectionner le texte "à propos de moi" (WIP)*/
/*à la fin, régler les tailles max selon les tailles d'écrans (WIP)*/



/********************************************************************/
/*******************************FONTS********************************/
/********************************************************************/

@font-face{
    font-family: "OpenSans";
    src: url(ressources/OpenSansRegular.ttf);
}

@font-face{
    font-family: "OpenSansLight";
    src: url(ressources/OpenSansLight.ttf);
}

/********************************************************************/
/******************************GENERAL*******************************/
/********************************************************************/

body{
    display: flex;
    justify-content: center;
    background-color: #E0E0E0;
}

.container{
    display:flex;
    border: black solid 1px;
    font-family: OpenSans;
    max-width: 1000px;
}

p{
    font-size: small;
}

section{
    margin-bottom: 10%;
}

a{
    text-decoration: underline white;
    color: white;
    font-style: italic;
}

/********************************************************************/
/****************************LEFT CONTENT****************************/
/********************************************************************/

.left{
    background-color: #651010;
    width: 34%;
    position: relative;
    color: white;
}

.left p{
    margin-left: 15%;
    margin-right: 15%;
}

.left h2{
    background-color: #424242;
    text-align: center;
    color: white;
}

/************************PHOTO**************************************/

.photo{
    text-align: center;
    padding-top: 20px;
}

.moi{
    border-radius: 50%;
    width: 50%;
    border: solid white 3px ; 
}

/************************LOISIRS**************************************/

.loisirs{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.pictogrammes{
    display: flex;
    justify-content: space-around;
    padding-left: 15%;
    padding-right: 15%;
}

.pictogrammes img{
    border-radius: 50%;
    border: solid 1px white;
    width: 48px;
}

/********************************************************************/
/****************************RIGHT CONTENT***************************/
/********************************************************************/

.right{
    width: 66%;
    background-color: white;
}

.right section{
    margin-left: 10%;
    margin-right: 10%;
}

.right h2{
    margin-bottom: 7px;
    margin-top: 0;
}

.right p{
    margin-top: 0;
    margin-bottom: 7px;
}

.right figure{
    margin-top: 0;
    margin-right: 5%;
    margin-bottom: 7px;
    margin-left: 0;
}


/************************TITRE**************************************/

.titre{
    margin-top: 10%;
    margin-bottom: 10%;
}

.titre h1{
    margin-bottom: 0;
}

.titre p{
    font-size: 1.5em;
}

#nom{
    font-family: OpenSansLight;
}

#prenom{
    color: #b71c1c;
}

#prenom, #nom{
    font-size: 2em;
}

#dev{
    border-bottom: solid 1px #b71c1c;
}


/***********************************CONTENTS****************************/

.formation, .experience, .recommandations{
    margin-bottom: 33px;
}

.sousTitre{
    display: flex;
    align-items: center;
    border-bottom: solid 2px #b71c1c;
}

ul{
    color:#b71c1c;
    margin-top: 35px;
}

li{
    margin-bottom: 5%;
}

li:first-child{
    display: list-item;
    list-style-image: url("ressources/puce.png");
}

.contents{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: black;
}

.date{
    width: 34%;
}

.job{
    width: 66%;
}

h3{
    font-family: OpenSansLight;
    margin-bottom: 7px;
    margin-top: 0;
}

h4{
    font-family: OpenSansLight;
    margin-bottom: 7px;
}




/********************************************************************/
/****************************RESPONSIVITY****************************/
/********************************************************************/

@media all and (max-width: 800px)
{

    .container{
        flex-direction: column-reverse;
    }

    .left, .right{
        width: 100%;
    }

    .photo{
        display: none;
    }

    .contact h2{
        margin-top: 0;
    }

    .loisirs{
        position: static;
    }

}


@media all and (max-width: 600px)
{

    .right section{
        margin-left: 5%;
        margin-right: 5%;
    }

}

@media all and (max-width: 400px)
{

    #nom, #prenom{
        font-size: 1.5em;
    }

    li .contents{
        flex-direction: column;
        justify-content: flex-start;
    }

    .right .date{
        margin-bottom: 13px;
        width: 100%;
    }

    .job{
        margin-bottom: 5%;
        width: 100%;
    }
}

@media all and (max-width: 340px)
{

    #nom, #prenom{
        font-size: 1.3em;
    }

    .right h2{
        font-size: 130%;
    }

    .sousTitre img{
        width : 25px;
    }

}