/********************************************************************/
/*******************************FONTS********************************/
/********************************************************************/

@font-face{
    font-family: "OpenSans";
    src: url(ressources/OpenSansRegular.ttf);
}

@font-face{
    font-family: "OpenSansLight";
    src: url(ressources/OpenSansLight.ttf);
}

/********************************************************************/
/******************************GENERAL*******************************/
/********************************************************************/

body{
    display: flex;
    justify-content: center;
    background-color: #E0E0E0;
}

.container{
    display:flex;
    border: black solid 1px;
    font-family: OpenSans;
    max-width: 1000px;
}

p{
    font-size: small;
}

section{
    margin-bottom: 10%;
}

a{
    text-decoration: none;
    color: white;
}

/********************************************************************/
/****************************LEFT CONTENT****************************/
/********************************************************************/

.left{
    background-color: #651010;
    width: 34%;
    position: relative;
    color: white;
}

.left p{
    margin-left: 15%;
    margin-right: 15%;
}

.left h2{
    background-color: #424242;
    text-align: center;
    color: white;
}

/************************PHOTO**************************************/

.photo{
    text-align: center;
    padding-top: 20px;
}

.photo img{
    border-radius: 50%;
    width: 50%;
    border: solid white 3px ; 
}

/************************ABOUT **************************************/

.about p{
    line-height: 1.8em;
    text-align: justify;
}

/************************HOBBIES**************************************/

.hobbies{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.pictograms{
    display: flex;
    justify-content: space-around;
    padding-left: 15%;
    padding-right: 15%;
}

.pictograms img{
    border-radius: 50%;
    border: solid 1px white;
    width: 48px;
    padding: 3px;
}

/********************************************************************/
/****************************RIGHT CONTENT***************************/
/********************************************************************/

.right{
    width: 66%;
    background-color: white;
}

.right section{
    margin-left: 10%;
    margin-right: 10%;
}

.right h2{
    margin-bottom: 7px;
    margin-top: 0;
}

.right p{
    margin-top: 0;
    margin-bottom: 7px;
}

.right figure{
    margin-top: 0;
    margin-right: 5%;
    margin-bottom: 7px;
    margin-left: 0;
}


/************************TITLE**************************************/

.title{
    margin-top: 10%;
    margin-bottom: 10%;
}

.title h1{
    margin-bottom: 0;
}

.title p{
    font-size: 1.5em;
}

#lastname{
    font-family: OpenSansLight;
}

#firstname{
    color: #b71c1c;
}

#firstname, #lastname{
    font-size: 2em;
}

#dev{
    border-bottom: solid 1px #b71c1c;
}


/***********************************CONTENTS****************************/

.education, .experience, .languages, .skills{
    margin-bottom: 33px;
}

.subtitle{
    display: flex;
    align-items: center;
    border-bottom: solid 2px #b71c1c;
}

.subtitle img{
    margin-right: 5%;
    margin-bottom: 7px;
}

ul{
    color:#b71c1c;
    margin-top: 35px;
    list-style-type: disc;
}

li{
    margin-bottom: 5%;
}

.contents{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: black;
}

.date{
    width: 18%;
}

.job{
    width: 82%;
}

h3{
    font-family: OpenSansLight;
    margin-bottom: 0px;
    margin-top: 0;
}

h4{
    font-family: OpenSansLight;
    margin-bottom: 7px;
}

.skills li{
    margin-bottom: 0;
}

.skills article{
    color: black;
}

#openClassRooms ul{
    color: black;
    padding-left: 13px;
    font-size: small;
    margin-top: 0;
    list-style-type: circle;
}

#openClassRooms li{
    margin-bottom: 7px;
}



/********************************************************************/
/****************************RESPONSIVITY****************************/
/********************************************************************/

@media all and (max-width: 800px)
{

    .container{
        flex-direction: column-reverse;
    }

    .left, .right{
        width: 100%;
    }

    .photo{
        display: none;
    }

    .contact h2{
        margin-top: 0;
    }

    .hobbies{
        position: static;
    }

}


@media all and (max-width: 600px)
{

    .right section{
        margin-left: 5%;
        margin-right: 5%;
    }

}

@media all and (max-width: 400px)
{

    #lastname, #firstname{
        font-size: 1.5em;
    }

    li .contents, .languages .contents{
        flex-direction: column;
        justify-content: flex-start;
    }

    .right .date{
        margin-bottom: 13px;
        width: 100%;
    }

    .job{
        margin-bottom: 5%;
        width: 100%;
    }
}

@media all and (max-width: 340px)
{

    #lastname, #firstname{
        font-size: 1.3em;
    }

    .right h2{
        font-size: 130%;
    }

    .subtitle img{
        width : 25px;
    }

}